<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{70,42}</string>
                <key>textureRect</key>
                <string>{{253,0},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{189,0},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_rankinglist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,144}</string>
                <key>spriteSourceSize</key>
                <string>{504,144}</string>
                <key>textureRect</key>
                <string>{{0,180},{504,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,96}</string>
                <key>spriteSourceSize</key>
                <string>{240,96}</string>
                <key>textureRect</key>
                <string>{{240,84},{240,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,95}</string>
                <key>spriteSourceSize</key>
                <string>{240,95}</string>
                <key>textureRect</key>
                <string>{{0,84},{240,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{10,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{33,48}</string>
                <key>textureRect</key>
                <string>{{40,0},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,61}</string>
                <key>spriteSourceSize</key>
                <string>{56,61}</string>
                <key>textureRect</key>
                <string>{{73,0},{56,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>singleColor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,51}</string>
                <key>textureRect</key>
                <string>{{129,0},{60,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shared.png</string>
            <key>size</key>
            <string>{504,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ffdf7e4ca63c222cd44a7f31868d52f:53d6f93a0a4481512508bc80bd7cacec:2c95ddc0e53977c10ce48c8c98b5618b$</string>
            <key>textureFileName</key>
            <string>shared.png</string>
        </dict>
    </dict>
</plist>
