<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,423}</string>
                <key>spriteSourceSize</key>
                <string>{324,423}</string>
                <key>textureRect</key>
                <string>{{0,0},{324,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,421}</string>
                <key>spriteSourceSize</key>
                <string>{324,421}</string>
                <key>textureRect</key>
                <string>{{0,1269},{324,421}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,423}</string>
                <key>spriteSourceSize</key>
                <string>{324,423}</string>
                <key>textureRect</key>
                <string>{{324,0},{324,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,423}</string>
                <key>spriteSourceSize</key>
                <string>{324,423}</string>
                <key>textureRect</key>
                <string>{{648,0},{324,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,423}</string>
                <key>spriteSourceSize</key>
                <string>{324,423}</string>
                <key>textureRect</key>
                <string>{{0,423},{324,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,423}</string>
                <key>spriteSourceSize</key>
                <string>{324,423}</string>
                <key>textureRect</key>
                <string>{{324,423},{324,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,423}</string>
                <key>spriteSourceSize</key>
                <string>{324,423}</string>
                <key>textureRect</key>
                <string>{{648,423},{324,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,423}</string>
                <key>spriteSourceSize</key>
                <string>{324,423}</string>
                <key>textureRect</key>
                <string>{{0,846},{324,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,423}</string>
                <key>spriteSourceSize</key>
                <string>{324,423}</string>
                <key>textureRect</key>
                <string>{{324,846},{324,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,423}</string>
                <key>spriteSourceSize</key>
                <string>{324,423}</string>
                <key>textureRect</key>
                <string>{{648,846},{324,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>girl24.png</string>
            <key>size</key>
            <string>{972,1690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51c811964b7d2e8d2c2c995695d3cdab:03eed9570fd3cccaafb740fb5b9fc1a9:4f6975f843ffa7c01f28ae6facc9490b$</string>
            <key>textureFileName</key>
            <string>girl24.png</string>
        </dict>
    </dict>
</plist>
