<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,423}</string>
                <key>spriteSourceSize</key>
                <string>{323,423}</string>
                <key>textureRect</key>
                <string>{{323,423},{323,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,423}</string>
                <key>spriteSourceSize</key>
                <string>{323,423}</string>
                <key>textureRect</key>
                <string>{{0,423},{323,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,423}</string>
                <key>spriteSourceSize</key>
                <string>{324,423}</string>
                <key>textureRect</key>
                <string>{{323,0},{324,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,424}</string>
                <key>spriteSourceSize</key>
                <string>{324,424}</string>
                <key>textureRect</key>
                <string>{{0,1271},{324,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,423}</string>
                <key>spriteSourceSize</key>
                <string>{323,423}</string>
                <key>textureRect</key>
                <string>{{0,0},{323,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,427}</string>
                <key>spriteSourceSize</key>
                <string>{324,427}</string>
                <key>textureRect</key>
                <string>{{324,1271},{324,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,424}</string>
                <key>spriteSourceSize</key>
                <string>{324,424}</string>
                <key>textureRect</key>
                <string>{{324,847},{324,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,424}</string>
                <key>spriteSourceSize</key>
                <string>{324,424}</string>
                <key>textureRect</key>
                <string>{{0,847},{324,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,424}</string>
                <key>spriteSourceSize</key>
                <string>{324,424}</string>
                <key>textureRect</key>
                <string>{{646,423},{324,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,423}</string>
                <key>spriteSourceSize</key>
                <string>{323,423}</string>
                <key>textureRect</key>
                <string>{{647,0},{323,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sea.png</string>
            <key>size</key>
            <string>{970,1698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cf62f6435ac87ad474356830f6bc749:59ba3243a42f62abbf31e6c759fb8113:89795a8ad3e7724e6bc939ba9789323b$</string>
            <key>textureFileName</key>
            <string>sea.png</string>
        </dict>
    </dict>
</plist>
